:local(.TrackInfo) {
    position: absolute;
    top: 60px;
    left: 200px;
    width: 880px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 300px;
        width: 300px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    .TrackDeets {
        margin-top: 25px;
        width: 880px;
        height: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & .titleSection {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                display: block;
                opacity: 0.9;
                font-family: HelveticaNeue;
                font-size: 38px;
                color: #ffffff;
                overflow: hidden;
                max-height: 90px;
            }

            .subtitle {
                display: block;
                margin-top: 5px;
                opacity: 0.6;
                color: #ffffff;
                font-family: "Helvetica Neue";
                font-size: 20px;
                overflow: hidden;
                max-height: 48px;
            }
        }
    }

    .NextButton {
        display: inline-block;
        height: 30px; line-height: 30px;
        padding: 0 10px;
        border: 1px solid white;
    }

    .NextButton.focused {
        background: dodgerblue;
        border: 1px solid dodgerblue;
    }
}
