$time-width: 300px;
$num-controls: 3;
$control-width: 40px * $num-controls;
$highlight: #4299d5;
$blank: #ffffff;
$saved: #68eaff;
@import '../../styles/resize';

:local(.PlayerControls) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .controls {
    z-index: 100;
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;

    .pauseButton {
      width: 60px;
      height: 60px;

      &.play-on, .play-off {
        width: 60px;
        height: 60px;
        // margin: -9px
      }
    }

    .previousTrack {
      height: 17px;
      width: 17px;

      &.next {
        transform: rotate(180deg);
      }
    }

    .tooltip {
      background-color: white;
      color: black;
      font-size: 12px;
      padding: 6px 12px;
      position: relative;
      width: 100px;
    }
    .tooltip:after {
      bottom: 100%;
      left: 50%;

      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 8px;
      margin-left: -8px;
    }
  }

  .ThumbSection {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    .thumbs {
      width: 20px;
      height: 20px;

      &:first-child {
        margin-right: 10px;
      }
    }

    .thumbs {
      &.thumbsUp-set-off svg g g g use,
      &.thumbsDown-set-off svg g g g use {
        fill: #68eaff;
      }
      &.thumbDown {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &.withoutThumbs {
    margin-top: 25px;
  }
}
