$base-highlight: hotpink;
$screen-height: 720px;
$screen-width: 1280px;
$horizontal-margin: 50px;
$vertical-margin: 60px;

$left-gutter: 55px;
$top-gutter: 68px;

$background-color: #0e121c;
$focus-gradient: linear-gradient(to bottom, rgb(27, 104, 164), rgb(92, 184, 255));
$focus-gradient-card: url(../assets/images/gradients/large-card.png);
$dark-sky-blue:  rgb(48, 157, 240);
$teal: #68eaff;
$focused-bar: red;

$dim: rgba(56,60,72,0.7);
$podcast-list-height: 267px;
$podcast-list-height-collapsed: 100px;

$station-card-width: 258px;
$station-card-height: 240px;
$station-card-margin: 20px;
$logo-height: 90px;
