.CatalogInfo {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 520px;
    width: 30%;
}

.CatalogInfo > h1 {
    font-size: 1.3em;
    display: block;
}

.CatalogInfo > img {
    height: auto;
    width: 100%;
}
.CatalogMenu {
    position: absolute;
    left: 470px;
    top: 100px;
    height: 620px;
    width: 55%;
    overflow: hidden;
}
