.Home {
  text-align: center;
}

.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}

.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  font-size: large;
}

.Home-content {
  width: 1240px;
  margin-left: 40px;
  overflow: hidden;
}

.Home-scrollable {
  height: 664px;
  width: 1240px;
  overflow: hidden;
  padding-left: 40px;
}

.Home-scrollable.faded {
  opacity: .2;
}

.Home-scrollable > div.ListMenu {
  padding-bottom: 150px;
}

.loadingScreen {
  z-index: 999;
  position: absolute;
  top: 0;
  width: 1280px;
  height: 720px;
  background-color: rgba(255, 255, 255, 0.08);
}
@keyframes Home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
