.Playback {
  text-align: center;
}

.Playback::before {
  content: ' ';
  display: block;
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0; left: 0;
  background: rgba(0,0,0,0.7)
}
.Playback-logo {
  animation: Playback-logo-spin infinite 20s linear;
  height: 80px;
}

.Playback-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Playback-title {
  font-size: 1.5em;
}

.Playback-intro {
  font-size: large;
}

@keyframes Playback-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
