.HorizontalLoadingMenuWrapper {
    height: 193px;
    width: 1240px;
    overflow: hidden;
    /* background: cornflowerblue; */
}
.HorizontalLoadingMenuWrapper.focused {
    /* background: yellowgreen; */
}
.HomeMenuHorizontalLoadingMenu {
    margin: 0;
    height: 100%;
}
.HomeHorizontalScroll {
  height: 239px;
}
