.music-modal {
  font-size: 1em;
  text-align: center;
}

.CloseModalButton {
  background-color: #68eaff;
  width: 80px;
  height: 20px;
  margin: 0 auto;
  color: #252d41;
}

.ReactModal__Content {
  opacity: 0.90;
  position:fixed !important;
  top: 350px !important;
  left: 600px !important;
  width: 450px;
  height:160px;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -13em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #131721 !important;
}

.ReactModal__Overlay {
  background-color: transparent !important;
}
