.music-modal {
  font-size: 1em;
  text-align: center;
}

.CloseModalButton.focused, .ActionModalButton.focused {
  background-color: #68eaff;
}
.CloseModalButton {
  background-color: #7688c396;
  width: 80px;
  height: 20px;
  margin: 10px auto 0;
  color: #252d41;
  padding: 5px;
}

.ActionModalButton {
  background-color: #7688c396;
  height: 20px;
  margin: 10px;
  color: #252d41;
  padding: 5px;
}

.modalContent {
  opacity: 0.90;
  position:fixed !important;
  top: 350px !important;
  left: 600px !important;
  width: 450px;
  height:195px;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -13em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #131721 !important;
}

.ReactModal__Overlay {
  background-color: transparent !important;
}
