.search-content {
  /* position: absolute; */
  top: 120px;
}

.search-content.focused {
  border: solid 2px #509eff
}

.field {
  height: 55px; width: 400px;
  line-height: 55px;
  white-space: nowrap;
  background-color: rgba(0,0,0,0.3);
  padding: 0 20px;
  left: 440px;
  top: 200px;
  border: solid 2px #808080;
  margin: 100px auto 0;
}
.blinker {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
.search-result {
  height: 411px;
  overflow: hidden;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
/*  */
