@import '../../styles/resize.scss';
@import '../../styles/variables';

:local(.ProgressBar) {
  width: $screen-width;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;

  .barWrapper {
    width: $screen-width - 320;
    position: relative;

    .bar {
      width: 100%;
      height: resize(6px);
      opacity: 0.1;
      border-radius: 5px;
      background-color: #ffffff;
      position: absolute;
      bottom: 60px;
    }

    .indicator {
      height: resize(6px);
      border-radius: 5px;
      background: $dark-sky-blue;
      position: absolute;
      bottom: 60px;
      left: 0;

      &.focused {
        background: $focused-bar;
      }
    }
  }

  .playTimeContainer {
    z-index: 1;
    position: absolute;
    left:0;
    bottom: 80px;
    width: $screen-width - 320;
    display: flex;
    justify-content: space-between;

    .playTimeDisplay {
      opacity: 0.6;
      font-family: 'HelveticaNeue';
      font-size: 18px;
      color: #ffffff;
    }
  }
}
