@import '../../styles/resize.scss';
@import '../../styles/variables';

:local(.ProgressBar) {
  width: $screen-width;
  position: absolute;
  bottom: 0px;

  .bar {
      width: $screen-width;
      height: resize(6px);
      background-color: grey;
      position: absolute;
      bottom: resize(179px);
      .indicator {
          height: 100%;
          background: $dark-sky-blue;
      }
  }

  .playTimeContainer {
    bottom: 122px;
    left: 0;
    position: relative;
    width: $screen-width;
    height: 50px;
    .innerPlayTimeContainer {
      position: absolute; top:0;left:0;
      border-right: 1px solid $dark-sky-blue;
      height: 50px;
    }
    .playTimeDisplay {
      position: absolute;
      top: -30px;
      right: -150px;
      width: 300px;
      overflow: hidden;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      color: $dark-sky-blue;
      text-align: center;
    }
  }
}
