  .AtoZMenu > ul {
    list-style-type: none;
    margin: 0; padding: 0;
    font-size: 24px;
  }
  .AtoZMenu > ul > li {
    display:inline-block;
    font-size: 1em;
    padding: 2px 12px;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
  }

  .AtoZMenu > ul > li.focused {
    border: solid 1px #68eaff;
  }

  /* li.clicked {
    border: solid 10px yellow;
  } */

  /* li.smaller > ul {
    font-size: 14px;
    > li {
      padding: 5px 10px;
    }
  } */
